@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
}

html {
  font-size: 20px;
}

/*@media (min-width: 1536px) {*/
.topnav {
  background-color: #470663;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
}

.main-content {
  width: 82rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  border: 1px solid #FE0994;
  color: #FE0994;
  width: 19.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  width: 26.8rem;
  justify-content: flex-start;
  padding: 2.5rem 0;
}

.menu-item,
.menu-item:link,
.menu-item:visited {
  text-decoration: none;
  margin: 0 1rem;
  color: #ffffff;
}

.menu-item {
  text-align: center;
  width: 6.1rem;
}
/*}*/
